<nav class="sidebar">
  <div class="logo">
      [Logo]
  </div>
  <ul>
      <li>
        <a><span class="forIcon"><i class="fa-solid fa-calendar-days"></i></span>Agenda</a>
      </li>
      <li>
        <a><span class="forIcon"><i class="fa-solid fa-scissors"></i></span>Procedimentos</a>
      </li>
      <li>
        <a><span class="forIcon"><i class="fa-solid fa-basket-shopping"></i></span>Produtos</a>
      </li>
      <li>
        <a><span class="forIcon"><i class="fa-sharp fa-solid fa-users"></i></span>Clientes</a>
      </li>
  </ul>
</nav>
