#search-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

#search-cliente{
  display: block;
  width: 70%;
  border: 1px solid var(--purple);
  outline: none;
  padding: 0.75rem;
  border-radius: 20px;
}

.btn-cadastro{
  background-color: var(--purple);
  color: white;
  padding: 1rem 3rem;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-size: 0.875rem;
}

.btn-cadastro:hover{
  background-color: var(--purple-hover);
}

.info-cliente{
  border: 1px solid var(--purple);
  margin: 0.3125rem 0;
  border-radius: 20px;
  overflow: hidden;
}

.info-cliente-header div{
  display: flex;
}

.info-cliente-header a, .info-cliente-content a{
  font-size: 0.8125rem;
  cursor: pointer;
}

.info-cliente-header a:hover, .info-cliente-content a:hover{
  text-decoration: underline;
}

.info-cliente-header div span + span{
  margin-left: 2rem;
}

.info-cliente h3, .info-cliente h4{
  margin: 0;
}

.info-cliente h3{
  font-size: 1.125rem;
}

.info-cliente h4{
  font-size: 1rem;
}

.info-cliente .info-cliente-header, .info-cliente-content > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}

.info-cliente div + div{
  border-top: 1px solid gray;
  background-color: white;
}

.info-cliente-header{
  background-color: var(--pink-sidebar);
}

.info-cliente span{
  display: block;
  font-size: 0.875rem;
}

.info-cliente-content{
  animation: animationCollapse .4s linear;
}

.info-cliente-content.collapsed{
  display: none;
}

@keyframes animationCollapse {
  from{
    opacity: 0;
    max-height: 0;
  }
  to{
    opacity: 1;
    max-height: 500px;
  }
}

/* Modal */

.modal{
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-area{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 20vh;
  padding: 1rem;
  background-color: white;
  border-radius: 1.25rem;
}

.modal-area-content p{
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: center;
}

.modal-area-content div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-area-content button{
  margin: 0 0.625rem;
  border: none;
  outline: none;
  padding: 0.625rem 1.375rem;
  cursor: pointer;
  color: white;
  border-radius: 1.25rem;
}

.modal-area-content button.accept{
  background-color: #28a745;
}

.modal-area-content button.accept:hover{
  background-color: #25963f;
}

.modal-area-content button.decline{
  background-color: #dc3545;
}

.modal-area-content button.decline:hover{
  background-color: #b32c3a;
}
