<app-nav [page]="'Clientes'"></app-nav>

<main class="container content">
  <div id="search-btn">
    <input type="text" name="" id="search-cliente" placeholder="Buscar cliente" [(ngModel)]="filtro">
    <button class="btn-cadastro" routerLink="/clientes/cadastro">Novo Cadastro</button>
  </div>

  <div style="font-size: 0.875rem; margin: 0.875rem 0">Número de resultados: {{clientesFiltrados.length}}</div>

  <div style="margin-top: 6rem;" *ngIf="clientesFiltrados.length == 0 && filtro.length > 0 && !errorMessage">
    <h2>Cliente não encontrado</h2>
    <p style="font-family: 'Open Sans', sans-serif;">Verifique se digitou o nome corretamente ou se ele está cadastrado</p>
  </div>

  <div style="margin-top: 6rem;" *ngIf="errorMessage">
    <h2>Erro ao carregar clientes</h2>
    <p style="font-family: 'Open Sans', sans-serif;">Não foi possível o carregamento dos dados</p>
  </div>

  <div *ngIf="clientesFiltrados.length > 0" [formGroup]="formUpdate">
    <div *ngFor="let cliente of clientesFiltrados; let i = index">
      <div class="info-cliente"> <!-- form group -->
        <div class="info-cliente-header">
          <div class="nome-content-text">
            <h3>{{cliente.nome}}</h3>
          </div>
          <div class="nome-content-text-edit no-edit">
            <input ValidationBorder type="text" formControlName="nome">
            <div>
              <button style="background-color: var(--accept);">
                <i class="fa-solid fa-check"></i>
              </button>
              <button style="background-color: var(--decline);">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </div>
            <div>
              <span style="font-weight: bold;">ID {{cliente.id}}</span>
              <span>
                <a (click)="expandDetails(i)" aria-controls="collapse">
                  {{collapsed[i].statusCollapsed ? 'Ver Detalhes' : 'Fechar'}}
                </a>
              </span>
              <span>
                <a>Editar</a>
              </span>
              <span style="margin-left: 0.625rem;">
                <a (click)="openModal(cliente.nome, cliente.id, modalTemplate)">Excluir</a>
              </span>
            </div>
        </div>
        <div #listContentItem class="info-cliente-content collapsed">
          <div class="telefone">
            <div class="telefone-content">
              <h4>Telefone</h4>
              <div class="telefone-content-text">
                <span>{{cliente.telefone}}</span>
              </div>
              <div class="telefone-content-text-edit no-edit"> <!-- Colocar Tooltip -->
                <input ValidationBorder type="text" formControlName="telefone" mask="(00) 00000-0000">
                <div>
                  <button style="background-color: var(--accept);" (click)="updateCliente(i)">
                    <i class="fa-solid fa-check"></i>
                  </button>
                  <button style="background-color: var(--decline);" (click)="telefoneEditSwitch(cliente.id, i)">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </div>
              </div>
            </div>
            <span><a (click)="telefoneEditSwitch(cliente.id, i)">Editar</a></span>
          </div>
          <div class="endereco">
            <div class="endereco-content">
              <h4>Endereço</h4>
              <div class="endereco-content-text">
                <span>{{cliente.endereco}}</span>
                <span>{{cliente.bairro}}</span>
                <span>{{cliente.cep}}</span>
                <span>{{cliente.cidade}}</span>
              </div>
              <div class="endereco-content-text-edit no-edit"> <!-- Colocar Tooltip -->
                <div>
                  <input type="text" formControlName="endereco">
                  <input type="text" formControlName="bairro">
                  <input ValidationBorder type="text" formControlName="cep" mask="00000-000">
                  <input type="text" formControlName="cidade">
                </div>
                <div>
                  <button style="background-color: var(--accept);" (click)="updateCliente(i)">
                    <i class="fa-solid fa-check"></i>
                  </button>
                  <button style="background-color: var(--decline);" (click)="enderecoEditSwitch(cliente.id, i)">
                    <i class="fa-solid fa-xmark"></i>
                  </button>
                </div>
              </div>
            </div>
            <span><a (click)="enderecoEditSwitch(cliente.id, i)">Editar</a></span>
          </div>
          <div>
              <h4>Histórico</h4>
              <span><a>Visualizar</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal -->

<ng-template #modalTemplate>
  <div class="modal">
    <div class="modal-area">
      <div class="modal-area-content">
        <p>Você deseja realmente excluir {{clienteNome}}?</p>
        <div>
          <button class="accept" (click)="confirm()">Sim</button>
          <button class="decline" (click)="decline()">Não</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
