<app-nav [page]="'Clientes'"></app-nav>

<main class="container content">
  <div id="search-btn">
    <input type="text" name="" id="search-cliente" placeholder="Buscar cliente">
    <button class="btn-cadastro">Novo Cadastro</button>
  </div>

  <div style="font-size: 0.875rem; margin: 0.875rem 0">Número de resultados: {{clientes.length}}</div>
  <div *ngFor="let cliente of clientes; let i = index">
    <div class="info-cliente">
      <div class="info-cliente-header">
          <h3>{{cliente.nome}}</h3>
          <div>
            <span>ID {{cliente.id}}</span>
            <span>
              <a (click)="expandMenu(i)" aria-controls="collapse">{{titulo}}</a>
            </span>
          </div>
      </div>
      <div #listItem class="info-cliente-content collapsed">
        <div>
            <div>
                <h4>Telefone</h4>
                <span>{{cliente.telefone}}</span>
            </div>
            <span><a>Editar</a></span>
        </div>
        <div>
            <div>
                <h4>Endereço</h4>
                <span>{{cliente.endereco}}</span>
                <span>{{cliente.bairro}}</span>
                <span>{{cliente.cep}}</span>
            </div>
            <span><a>Editar</a></span>
        </div>
        <div>
            <h4>Histórico</h4>
            <span><a>Visualizar</a></span>
        </div>
      </div>
    </div>
  </div>
</main>
